streamlit>=1.38.0
pandas>=2.2.2
numpy>=1.26.4
matplotlib>=3.8.4
python-dateutil>=2.8.2
pulp>=2.7.0
highspy>=1.6.0
pyarrow>=14.0.2
gspread==6.1.4
google-auth==2.34.0
google-auth-oauthlib==1.2.1
gspread-dataframe==3.3.1